---
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CV | Ivan Gonzalez" description="CV Ivan Gonzalez ">
	<div class="stack gap-20">
		<main class="wrapper cv">
			<Hero
				title=""
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			/>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Technical Lead with 10+ years of experience in Backend,
						DevOps, and Platform Engineering. I design and deliver
						cloud-native platforms on AWS that remain simple while
						scaling with business needs. Known for turning
						complexity into clarity, setting pragmatic engineering
						standards, and building systems that are reliable,
						maintainable, and built to last.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.cv {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.cv {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.cv > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
