---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Skills from "../components/Skills.astro";
import Highlights from "../components/Highlights.astro";
---

<BaseLayout>
	<div class="stack gap-10">
		<div class="wrapper stack gap-8 lg:gap-20">
			<Header />
		</div>
		<main class="wrapper stack">
			<Skills />
			<Highlights />
		</main>
	</div>
</BaseLayout>
