---
import Icon from "./Icon.astro";
---

<theme-toggle>
	<button>
		<span class="sr-only">Dark theme</span>
		<span class="icon light"><Icon icon="sun" /></span>
		<span class="icon dark"><Icon icon="moon-stars" /></span>
	</button>
</theme-toggle>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();

			const button = this.querySelector("button")!;

			/** Set the theme to dark/light mode. */
			const setTheme = (dark: boolean) => {
				document.documentElement.classList[dark ? "add" : "remove"](
					"theme-dark",
				);
				button.setAttribute("aria-pressed", String(dark));
			};

			// Toggle the theme when a user clicks the button.
			button.addEventListener("click", () => setTheme(!this.isDark()));

			// Initialize button state to reflect current theme.
			setTheme(this.isDark());
		}

		isDark() {
			return document.documentElement.classList.contains("theme-dark");
		}
	}
	customElements.define("theme-toggle", ThemeToggle);
</script>
